In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

In [2]:
data=pd.read_csv("fraudTrain.csv")

In [3]:
data.head(2)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,1/1/2019 0:00,2.703190e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",3/9/1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,1/1/2019 0:00,6.304230e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,6/21/1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1048575 non-null  int64
 1   trans_date_trans_time  1048575 non-null  object
 2   cc_num                 1048575 non-null  float64
 3   merchant               1048575 non-null  object
 4   category               1048575 non-null  object
 5   amt                    1048575 non-null  float64
 6   first                  1048575 non-null  object
 7   last                   1048575 non-null  object
 8   gender                 1048575 non-null  object
 9   street                 1048575 non-null  object
 10  city                   1048575 non-null  object
 11  state                  1048575 non-null  object
 12  zip                    1048575 non-null  int64
 13  lat                    1048575 non-null  float64
 14  long                   1048575 non-null  float64
 15  city_pop               1048575 non-null  int64
 16  job                    1048575 non-null  object
 17  dob                    1048575 non-null  object
 18  trans_num              1048575 non-null  object
 19  unix_time              1048575 non-null  int64
 20  merch_lat              1048575 non-null  float64
 21  merch_long             1048575 non-null  float64
 22  is_fraud               1048575 non-null  int64
dtypes: float64(6), int64(5), object(12)
memory usage: 184.0+ MB

In [5]:
data.isna().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [6]:
data1=data.drop_duplicates()

In [52]:
data1.head(1)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,0,425,514,8,4.97,160,18,0,557,...,36.0788,-81.1781,3495,370,468,45701,1325376018,36.011293,-82.048315,0

In [77]:
data1.drop('Unnamed: 0',axis=1)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,425,514,8,4.97,160,18,0,557,517,...,36.0788,-81.1781,3495,370,468,45701,1325376018,36.011293,-82.048315,0
1,0,40,241,4,107.23,305,157,0,426,600,...,48.8878,-118.2105,149,428,675,128847,1325376044,49.159047,-118.186462,0
2,0,232,390,0,220.11,113,380,1,591,459,...,42.1808,-112.2620,4154,307,23,662104,1325376051,43.150704,-112.154481,0
3,1,486,360,2,45.00,161,461,1,912,83,...,46.2306,-112.1138,1939,328,6,440259,1325376076,47.034331,-112.561071,0
4,2,349,297,9,41.96,332,149,1,411,212,...,38.4207,-79.4629,99,116,443,672104,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,225629,813,166,5,77.00,138,439,0,51,23,...,39.0305,-76.5515,92106,2,603,286294,1362931649,38.779464,-76.317042,0
1048571,225629,731,110,9,116.94,239,58,0,39,331,...,41.1826,-92.3097,1583,211,699,786716,1362931670,41.400318,-92.726724,0
1048572,225630,28,456,6,21.27,308,289,0,5,450,...,38.2507,-85.7476,736284,175,504,97489,1362931711,37.293339,-84.798122,0
1048573,225630,910,620,5,9.52,182,23,0,571,850,...,40.7320,-73.1000,4056,193,690,379398,1362931718,39.773077,-72.213209,0
1048574,225630,401,83,9,6.81,293,465,0,904,12,...,34.0770,-84.3033,165556,351,285,577841,1362931730,33.601468,-83.891921,0

In [78]:
data1.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [88]:
columns=['Unnamed: 0','cc_num','merchant','amt','category','first','last','gender','city','state','street','zip','lat','long','city_pop','job','trans_num','dob','trans_date_trans_time','unix_time','merch_lat','merch_long']

In [89]:
le=LabelEncoder()

In [90]:
for column in columns:
    data1[column]=le.fit_transform(data1[column])

In [91]:
data1

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,0,425,514,8,397,160,18,0,557,...,285,678,457,370,468,45701,0,317326,698282,0
1,1,0,40,241,4,10623,305,157,0,426,...,946,58,43,428,675,128847,1,1011371,63279,0
2,2,0,232,390,0,21891,113,380,1,591,...,721,85,482,307,23,662104,2,842424,96468,0
3,3,1,486,360,2,4400,161,461,1,912,...,913,88,366,328,6,440259,3,984378,93679,0
4,4,2,349,297,9,4096,332,149,1,411,...,388,738,22,116,443,672104,4,453951,833436,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,225629,813,166,5,7600,138,439,0,51,...,443,810,751,2,603,286294,1030645,461913,894474,0
1048571,1048571,225629,731,110,9,11594,239,58,0,39,...,654,344,320,211,699,786716,1030646,710848,372811,0
1048572,1048572,225630,28,456,6,2027,308,289,0,5,...,378,523,844,175,504,97489,1030647,372453,603468,0
1048573,1048573,225630,910,620,5,852,182,23,0,571,...,592,906,477,193,690,379398,1030648,548556,1005364,0
1048574,1048574,225630,401,83,9,581,293,465,0,904,...,201,554,789,351,285,577841,1030649,193520,628695,0

In [92]:
X=data1.iloc[:,:-1]
y=data1['is_fraud']

In [93]:
X

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,0,425,514,8,397,160,18,0,557,...,262,285,678,457,370,468,45701,0,317326,698282
1,1,0,40,241,4,10623,305,157,0,426,...,947,946,58,43,428,675,128847,1,1011371,63279
2,2,0,232,390,0,21891,113,380,1,591,...,843,721,85,482,307,23,662104,2,842424,96468
3,3,1,486,360,2,4400,161,461,1,912,...,603,913,88,366,328,6,440259,3,984378,93679
4,4,2,349,297,9,4096,332,149,1,411,...,228,388,738,22,116,443,672104,4,453951,833436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,225629,813,166,5,7600,138,439,0,51,...,195,443,810,751,2,603,286294,1030645,461913,894474
1048571,1048571,225629,731,110,9,11594,239,58,0,39,...,527,654,344,320,211,699,786716,1030646,710848,372811
1048572,1048572,225630,28,456,6,2027,308,289,0,5,...,402,378,523,844,175,504,97489,1030647,372453,603468
1048573,1048573,225630,910,620,5,852,182,23,0,571,...,78,592,906,477,193,690,379398,1030648,548556,1005364
1048574,1048574,225630,401,83,9,581,293,465,0,904,...,286,201,554,789,351,285,577841,1030649,193520,628695

In [94]:
y

0          0
1          0
2          0
3          0
4          0
          ..
1048570    0
1048571    0
1048572    0
1048573    0
1048574    0
Name: is_fraud, Length: 1048575, dtype: int64

In [95]:
X_train,y_train,X_test,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [96]:
rf_model=RandomForestClassifier()

In [97]:
rf_model.fit(X_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [838860, 209715]